

#tb-toolbar {
    position: fixed !important;
    top: 0;
    z-index: 100;
}
#tb-toolbar {
    background-color:red;
    overflow: hidden;
    z-index: 102;
}
#tb-toolbar {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #3D3D3D;

    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
    height: 40px;
    position: relative;
    width: 100%;
    z-index: 1;
}

* { 
  </*   margin: 0; */ 


} 
html, body {
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	background-attachment: scroll;
	background-color: #FFF;
	background-image: url(../image/templateimages/bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
} 
body{ 

} 

#header { 
    height: 40px;; 
} 
#headLine{
color:#fff; 
height :25px;
background-color:black;
margin-bottom:10px;
border: 1px solid white; -moz-border-radius: 10px; -webkit-border-radius: 10px;/*köşeler*/


}
/* icerik alani */ 
.container { 
    /*background:url(../images/sag_zr.gif) right top repeat-y; */
    min-height: 100%; 
    height: auto !important; 
    height: 100%; 
    margin: 0px;/*0 1em -4em 1em; /* footer yük. alt margin ayni olacak	*/ 
	
} 
#left{ 
    float: left; 
    clear:both; 
    width: 0px; 
    height: 15em; 
    margin-bottom: 1em; 
	background-color: gray;
	border: 1px solid white; -moz-border-radius: 10px; -webkit-border-radius: 10px;/*köşeler*/
	color:white;
	
	
   filter:alpha(opacity=60); 
   -moz-opacity: 0.6; 
   opacity: 0.6; 
} 
#context 
{ 
    margin:  0px; /*0 16em 1em 11em; sag ve sol uzakliklar burada*/ 
    font:Arial, Helvetica, sans-serif; 
	background-color:gray;
	border: 1px solid white; -moz-border-radius: 10px; -webkit-border-radius: 10px;/*köşeler*/
  
	} 


.tampon { 
    height: 4em; /* .tampon ile footer yuksekligi ayni olacak */ 
} 
#footer{ 
    text-align:center; 
    color:#fff; 
    background-color:gray;
	height: 4em;	
   filter:alpha(opacity=60); 
   -moz-opacity: 0.6; 
   opacity: 0.6; 
	} 

#right
{
    float: right;
    width: 0px;
	background-color:gray;
	border: 1px solid white; -moz-border-radius: 10px; -webkit-border-radius: 10px;/*köşeler*/
   filter:alpha(opacity=60); 
   -moz-opacity: 0.6; 
   opacity: 0.6; 
	}