
body{ 
	margin: 0;
	padding: 0;
	color: #555;
	font-size: 12px;
	line-height: 1.6em; 
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #c7c8c1;
	background-image:  url(../image/background.png);
	background-repeat: repeat
}

a, a:link, a:visited { 
	color: #525111; 
	font-weight: normal; 
	text-decoration: none; 
}

a:hover { 
	text-decoration: underline; 
}

ul, li {
	padding:0;
	margin:0;
	list-style:none;
}

h1, h2, h3, h4, h5, h6 { color: #525111; font-weight: normal; }
h1 { font-size: 36px; margin: 0 0 30px; padding: 5px 0 }
h2 { font-size: 24px; margin: 0 0 25px; padding: 5px 0 }
h3 { font-size: 20px; margin: 0 0 20px; padding: 0; }
h4 { font-size: 16px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 14px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 12px; margin: 0 0 5px; padding: 0; font-weight: 700 }

p { 
	padding: 0; 
	margin: 0 0 15px 0; 
}

.clear{
	clear:left;
}



cite { 
	font-weight: bold; 
	color:#525111; 
}

cite a, cite a:link, cite a:visited  { 
	font-size: 12px; 
	text-decoration: none; 
	font-style: normal; 
}

cite span { 
	font-weight: 400; 
	color: #525111; 
}

.list_bullet { 
	margin: 10px 0 10px 15px; 
	padding: 0; 
	list-style: none; 
}

.list_bullet li { 
	color:#555; 
	margin: 0 0 7px 0; 
	padding: 0 0 0 20px; 
	background: url(../image/list.png) no-repeat scroll 0 4px;  
}

.list_bullet li a { 
	color: #555; 
	font-weight: normal; 
	text-decoration: none; 
}

.list_bullet li a:hover { 
	color: #555; 
}

.no_bullet { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

.no_bullet li { 
	margin: 0 0 20px 0; 
	padding: 0; 
}

a.header { 
	display: block; 
	font-weight: 700; 
}

.half { 
	width: 360px; 
}

.col_175 { 
	width: 175px; 
}

.h10 { height: 10px }
.h20 { height: 20px }
.h40 { height: 40px }

.img { 
	margin: 0; 
	padding: 0;
}

.img_border { 
	background: #cacac6; 
	padding: 4px; 
	border: 1px solid #a9a99e; 
}

.img_nom { 
	display: block; 
	margin-bottom: 15px; 
}

.img_fl { 
	float: left; 
	margin: 3px 15px 5px 0; 
}

.img_fr { 
	float: left; 
	margin: 3px 0 5px 15px; 
}

.left { 
	float: left; 
}

.right { 
	float: right; 
}

#header_wrapper {
	width: 100%;
	background: url(../image/templatemo_header.png) center bottom no-repeat 
}

#header {
	width: 820px;
	min-height: 110px;
	padding: 10px 20px 20px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 40px
}

#main_wrapper {
	width: 100%;
	background:url(../image/templatemo_wrapper.png) center top no-repeat
}

#main {
	width: 820px;
	margin: 0 auto;
	padding: 0 10px;
	overflow: hidden;
}

#footer_wrapper  {
	width: 100%;
	background: url(../image/templatemo_footer.png) center top no-repeat
}

#footer {
	width: 780px;
	margin: 0 auto;
	padding: 20px 20px;
	text-align: center
}

#site_title { 
	display: block; 
	width: 400px; 
	margin: 0 auto; 
}

#site_title a { 
	display: block; 
	width: 400px; 
	height: 22px; 
	text-align: center; 
	padding-top: 60px; 
	background: url(../image/logo.png) no-repeat top center; 
	color: #333; 
	letter-spacing: 4px; 
}

#header #intro_text { 
	margin-top: 10px; 
	font-size: 16px; 
}

#content{
	overflow:hidden;
	width: 7000px;
	position:relative;
	height: 500px;
}

.section {
	position:relative;
	float:left;
	padding: 20px;
	width: 780px;
	height: 780px;
	margin-right: 20px;
}



#menu {
	margin: 20px 0 0;
	padding: 0;
	list-style: none
}

#menu li {
	display: block;
	float: left;
	width: 140px;
	height: 160px; 
	margin: 0 20px 20px 0;
	background: url(../image/menu_box.png) no-repeat
}

#menu li.no_margin_right { 
	margin-right: 0; 
}

#menu li a { 
	display: block; 
	width: 120px; 
	height: 30px; 
	padding: 130px 10px 0px; 
	background-repeat: no-repeat; 
	background-position: 15px 15px; 
	text-align: center; 
	line-height: 30px; 
	font-size: 14px; 
	color: #fff; 
}

#menu li a:hover { 
background-color:green;
	text-shadow: 1px 1px 1px #555; 
	text-decoration: none; 
}

#menu li a.dealler { 
	background-image: url(../image/buttons/dealler.png); 
}

#menu li a.coupon { 
	background-image: url(../image/buttons/coupon.png); 
}

#menu li a.bulletin { 
	background-image: url(../image/buttons/bulletin.png); 
}

#menu li a.accounting { 
	background-image: url(../image/buttons/accounting.png); 
}

#menu li a.betting { 
	background-image: url(../image/buttons/betting.png); 
}
#menu li a.settings { 
	background-image: url(../image/buttons/settings.png); 
}
#menu li a.live { 
	background-image: url(../image/buttons/live.png); 
}
#menu li a.settings { 
	background-image: url(../image/buttons/settings.png); 
}
#menu li a.scores { 
	background-image: url(../image/buttons/scores.png); 
}






